<div class="container">
    <!-- <span *ngIf="sessionResto">{{sessionResto}}</span> -->
    <div class="row" *ngIf="paniers">
        <div class="col-md-7 cart">
            <div class="title">
                <div class="row">
                    <div class="col shop">
                        <h4><b>Panier</b></h4>
                    </div>
                    <div class="col nbPlat">{{paniers.length}} Plats à commander</div>
                </div>
            </div>
            <div class="row border-top border-bottom" id="newProduit" *ngFor="let panier of paniers; let i=index">
                <div class="row main align-items-center">
                    <div class="col-3"><img class="image" src="/assets/img/{{panier.profil}}"></div>
                    <div class="col">
                        <div class="row text-muted">{{panier.designation}}</div>
                        <div class="row">{{panier.prix}} Ar</div>
                    </div>
                    <div class="col-4"> 
                        <input type="number" [formControl]="quantite" [id]="'qte_'+i" name="quantite{{i}}" min="1" placeholder="Quantité">    
                    </div>
                    <div class="col"> 
                        <button type="button" class="btn btn-secondary boutton" (click)="commander(i)">Valider</button>   
                    </div>
                    
                </div>
               <!-- <app-child-panier>
                    panier = "panier"
                    countIndex = "i"
               </app-child-panier> -->
            </div>
        </div>
    </div>

    <!-- <ng-template class="row" #haha>
        <div class="col-md-8 cart" *ngFor="let paniers of panier">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">3 Plats</div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="image" src="/assets/img/rolls.png"></div>
                    <div class="col">
                        <div class="row text-muted">Shirt</div>
                        <div class="row">Cotton T-shirt</div>
                    </div>
                    <div class="col"> 
                        <input type="number" name="quantite" min="1" placeholder="Quantité">    
                    </div>
                    <div class="col"> 
                        <button>Valider</button>   
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col">ITEMS 3</div>
                <div class="col text-right">€ 132.00</div>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">€ 137.00</div>
            </div> <button class="btn">CHECKOUT</button>
        </div>
    </ng-template> -->
</div>