<main class="page-content">
    <div class="d-flex flex-wrap">
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                <div class="content">
                    <h2 class="title">Gasy food's</h2>
                    <div class="copy">Restaurant By pass<br>+261 58 908 32</div>
                </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cardLine">
            <a href="#">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Gasy food's</h2>
                        <p class="copy">Restaurant By pass<br>+261 58 908 32</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    
</main>