
<main class="page-content">
    <div class="d-flex flex-wrap" *ngIf="restaurants">
        <div class="cardLine" *ngFor="let resto of restaurants">
            <!-- <style>
                .card:nth-child(1):before{
                    background-image: url(/assets/img/extra.png);
                }
                [ngStyle]="div:nth-child(1):before{{'background-image': url(/assets/img/kaly.jpg);}}"
            </style> -->
            
            <a routerLink="../commande" [queryParams]="{idRestaurant : resto._id}">
                <div class="card" [style.background-image]="'url(/assets/img/'+resto.profil+')'">
                    <div class="content" >
                        <h2 class="title">{{resto.nom}}</h2>
                        <p class="copy">{{resto.email}}<br>{{resto.contact}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    
</main>