/* .inscription{
    margin-top: 5%;
    height: 600px;
    box-shadow: 12px 7px 20px 5px;
    border-radius: 70px 0px 70px 0px;
}
h2{
    text-shadow: 19px 20px 15px;
    margin-top: 5%;
    font-size: 3em;
    font-family: monospace;
    font-weight: 900;
    color: rgb(25, 104, 128);
} */

/* page login */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    widows: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: -webkit-repeating-linear-gradient(left, #7579ff, #b224ef);
}


/* #7579ff / #b224ef */


/* design phone */

@media screen and (max-width: 600px) {
    body {
        height: 68vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background: -webkit-repeating-linear-gradient(left, #161616, #f0eef1);
    }
    .forms {
        position: relative;
        width: 650px;
        height: 100%;
        margin-left: 20%;
        padding: 20px 10px;
        -webkit-transition: -webkit-transform 1.2s ease-in-out;
        transition: -webkit-transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out;
        transition: -webkit-transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    }
    .img-btns {
        overflow: hidden;
        z-index: 2;
        position: relative;
        width: 180px;
        height: 36px;
        margin: 0 auto;
        background: transparent;
        color: #8580801c;
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;
    }
    .img-btns span {
        position: absolute;
        right: 30px;
        top: -60px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .img-btns:after {
        content: '';
        z-index: 2;
        position: absolute;
        right: 30px;
        top: -60px;
        width: 100%;
        height: 100%;
        color: #8580801c;
        border: 2px solid rgb(48, 45, 45);
        border-radius: 30px;
    }
}


/* design pc */

input,
button {
    border: none;
    outline: none;
    background: none;
}


.h2 {
    margin-bottom: 50px;
}

.h22 {
    margin-bottom: 40px;
}

.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto;
    text-align: center;
}

label span {
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input.button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 50px;
}

.button {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-repeating-linear-gradient(right, #7579ff, #b224ef);
}

/* -------------------------------------------------------- */


.button:hover {
    background: -webkit-repeating-linear-gradient(left, #7579ff, #b224ef);
}

.social-media {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.social-media ul {
    list-style-type: none;
}

.social-media ul li {
    display: inline-block;
    cursor: pointer;
    margin-right: 25px 20px;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url(/assets/img/kaly.jpg);
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.img-text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img-text h2 {
    margin-bottom: 10px;
    font-weight: normal
}

.img-text p {
    font-size: 14px;
    line-height: 1.5;
}

.img-text.m-in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.sign-in {
    padding-top: 65px;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.img-btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 180px;
    height: 36px;
    margin: 0 auto;
    margin-top: 9%;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img-btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img-btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
    ;
}

.img-btn span.m-in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}


.img-btn span.m-up {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.cont.s-signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cont.s-signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

.cont.s-signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.cont.s-signup .img-text.m-up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}


.cont.s-signup .img-text.m-in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}


.cont.s-signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
            transition-duration: 1.2s;
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
}
