<body class="body">
    <div class="container-fluid">
        <div class="d-none d-md-block">
            <div class="row header-ordi">
                <div class="col-md-8">
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" routerLink="accueil-Ekaly" routerLinkActive="active-page">Accueil-eKaly</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="panier" routerLinkActive="active-page">Panier</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
                <div class="col-md-4 ">
                    <form class="row form-inline mt-3">
                        <div class="col-md-6">
                            <ng-autocomplete
                            [data]="plats"
                            [searchKeyword]="keyword"
                            placeholder="Rechercher vos plats"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">

                            </ng-autocomplete>
                            
                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.designation"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                            <!-- <input class="form-control" type="search" placeholder="Recherche" > -->
                        </div>
                        <!-- <div class="col-md-4">
                            <button class="btn btn-outline-light" type="submit">Cherche</button>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="row centre"></div>
        </div>

        <div class="d-block d-sm-none">
            <div class="row header-ordi1">
                <div class="col-sm-10">
                    phone
                </div>
                <div class="col-sm-2">
                    <ul>
                        <li>finday</li>
                        <li>finday</li>
                    </ul>
                </div>
            </div>
            <div class="row centre"></div>
        </div>
    </div>
  
</body>
