
<router-outlet></router-outlet>
<!-- <br><br>
  <div class="container">
  <div>
    <a routerLink='pageClient' routerLinkActive="active">Client</a>
  </div>
  <br><br>
  <div>
    <p>Insert</p>
    <label>Nom</label>
    <input [(ngModel)]="personne.nom">
    <br />
    <label>Age</label>
    <input [(ngModel)]="personne.age">
    <br />
    <button (click)="Create()">OK</button>
  </div>
  <div>
    <p>List</p>
    <table border="1">
      <tr>
        <th>Nom</th>
        <th>Age</th>
      </tr>
      <tr *ngFor="let p of result">
        <td>{{p.nom}}</td>
        <td>{{p.age}}</td>
      </tr>
    </table>
    <app-tableau *ngIf="result"[data]="result"></app-tableau>
  </div>
</div> -->